{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block content %}
	<h1>Mon compte</h1>

	{{app.user.firstName}}, bienvenue sur votre compte
	<hr>
	<a href="{{ path('account_password') }}">modifier mon mot de passe</a>
	<br>
	<a href="{{ path('account_adress')}}">
		Gerer mes adresses</a>
	<br>
	<a href="{{ path('account_order')}}">
		mes commandes
	</a>
	<hr>
{% endblock %}
