{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe
{% endblock %}

{% block body %}
	<h1>Modifier mon mot de passe</h1>
	<hr>
	<a href="{{ path('account') }}">Retouner a mon compte</a>
	<br>
	{{form_start(form)}}

	{{form_widget(form) }}
	<button type="submit" class="btn btn-lg btn-dark">Mise à jour</button>
	{{form_end(form)}}
{% endblock %}
