{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Banlieu's Heart
{% endblock %}

{% block carousel %}
	{% block content %}

		<!-- Three columns of text below the carousel -->
		<div class="row">
			<div class="col-lg-12">
				<div class="style text-center">
					<h2>Bienvenue sur le site de l'association Banlieue's Heart</h2>
				</div>
				<br>
				<p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim
																								labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi
																								animcupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est
																								aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia
																								pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit
																								commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa
																								proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia
																								eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim.
																								Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et
																								culpa duis.</p>

				<p>Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim
																								labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet. Nisi
																								animcupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum Lorem est
																								aliquip amet voluptate voluptate dolor minim nulla est proident. Nostrud officia
																								pariatur ut officia. Sit irure elit esse ea nulla sunt ex occaecat reprehenderit
																								commodo officia dolor Lorem duis laboris cupidatat officia voluptate. Culpa
																								proident adipisicing id nulla nisi laboris ex in Lorem sunt duis officia
																								eiusmod. Aliqua reprehenderit commodo ex non excepteur duis sunt velit enim.
																								Voluptate laboris sint cupidatat ullamco ut ea consectetur et est culpa et
																								culpa duis.</p>
			</div>
			<!-- /.col-lg-4 -->
		</div>
		<!-- /.row -->


		<!-- START THE FEATURETTES -->

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-7">
				<h2 class="featurette-heading">Les dernières actualités de l'association.

				</h2>
				<p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
			</div>
			<div class="col-md-5">
				<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveaspectratio="xMidYMid slice" focusable="false">
					<title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
				</svg>

			</div>
		</div>

		<hr class="featurette-divider">

		<div class="row featurette">
			<div class="col-md-7 order-md-2">
				<h2 class="featurette-heading">Les derniers articles ajouter, de la boutique.

				</h2>
				<p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
			</div>
			<div class="col-md-5 order-md-1">
				<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveaspectratio="xMidYMid slice" focusable="false">
					<title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
				</svg>

			</div>
		</div>

		<hr
		class="featurette-divider">

	<!-- /END THE FEATURETTES -->
	{% endblock %}
{% endblock %}
