.footer-custom{
    position: absolute;
    width: 100%;
    padding-top: 25px;
}

body {
    position: relative;
}

.dropdown-menu .dropdown-menu-dark{

    text-align: end;
}

.cart-icon{

    height: 20px;
}

/* page de login */
.block-small{
    max-width: 600px;
    margin: 0 auto;
}