.navbar{
    height: 120px;
}


.footer-custom{
    position: absolute;
    width: 100%;
    padding-top: 25px;
}

body {
    position: relative;
}

.dropdown-menu .dropdown-menu-dark{

    text-align: end;
}

.cart-icon{

    height: 20px;
}

/* page de login */
.block-small{
    max-width: 600px;
    margin: 0 auto;
}
/* ----------------------------------------- tunnel d'achat -------------------------------------------------*/

/* les checkbox dans le tunnel d'achat */
.form-check{
    background-color: whitesmoke;
    padding: 20px 65px;
    margin-top: 7px;
}

/* les titres des checkbox du tunnel d'achat */
.col-form-label{
    font-weight: bold;
}