{% extends 'base.html.twig' %}

{% block title %}News
{% endblock %}

{% block content %}
	<table class="table">
		<tbody>

			<tr>
				<h3>{{ news.title }}</h3>
			</tr>
			<tr>
				<td>{{ news.content | raw }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('news_index') }}">Retour a la liste d'articles</a>
	<br>
{% endblock %}
