{% extends 'base.html.twig' %}

{% block title %}Page de contact
{% endblock %}

{% block content %}

	<h3>Contact</h3>
	{% for message in app.flashes('notice') %}
		<div class="alert alert-success">{{ message }}</div>
	{% endfor %}
	{{ form_start(form) }}

	{{ form_widget(form)}}
	<button class="btn btn-lg btn-dark" type="submit">Envoyer</button>
	{{ form_end(form) }}
{% endblock %}
