{% extends "base.html.twig" %}

{% block title  %}Accès interdit
{% endblock %}

{% block body %}
	<h1>Accès interdit</h1>
	<p>La page sue vous cherhez n'a pas été trouvée.</p>
	<p>Code de l'erreur :
		{{ status_code }}</p>
	<p>Message de l'erreur :
		{{ status_text }}
	</p>
{% endblock %}
